[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "~=3.1.0"
django-allauth = "==0.41.0"
django-crispy-forms = "==1.9.2"
django-debug-toolbar = "==3.1"
whitenoise = "==5.2.0"
praw = "*"
psycopg2 = "*"
psycopg2-binary = "*"
django-environ = "*"
environ = "*"
django-q = "*"
textblob = "*"
croniter = "*"
numpy = "*"

[requires]
python_version = "3.8.7"
