{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content-fluid %}
{% csrf_token %}


<div class="row">

    <div class="col-md-12 col-lg-2 mg-t-20 mg-lg-t-0">
        <div class="card">
            <img src="{% static 'images/reddit-logo.jpg' %}" class="card-img-top" alt="{{ object.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ object.display_name }}</h5>
                <p class="card-text">{{ object.title }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Id:</strong> {{ object.subreddit_id }}</li>
                <li class="list-group-item"><strong>Description:</strong> {{ object.description }}</li>
                <li class="list-group-item"><strong>Subscribers:</strong> {{ object.subscribers }}</li>
                <li class="list-group-item"><strong>Submissions:</strong> {{ additional_context.submissionCount }}</li>
                <li class="list-group-item"><strong>Comments:</strong> {{ additional_context.commentCount }}</li>
                <li class="list-group-item"><strong>Created:</strong> {{ object.created_utc }}</li>
            </ul>
            <div class="card-body">
                <strong>Go to:</strong> <a class="card-link" href="https://www.reddit.com{{ subreddit.url }}"
                    target="_blank">
                    {{ subreddit.url }}
                </a>
            </div>
        </div>
    </div>


    <div class="col-md-12 col-lg-10 mg-t-20 mg-lg-t-0">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="tabular-tab" data-toggle="tab" href="#tabular" role="tab">Tabular</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="word-tab" data-toggle="tab" href="#word" role="tab">Word</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#bubble" role="tab">Bubble</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#network" role="tab">Network</a>
            </li>
        </ul>
        <br>
        <br>
        <div class="tab-content" id="saTabContent">
            <div class="tab-pane fade show active" id="tabular" role="tabpanel">
                <div class="sa-overlay-wrapper">
                    <div class="sa-overlay" id="overlay-submission">
                        <div class="spinner-border"></div>
                    </div>
                    <div class="az-content-label mg-b-5">Top Submissions</div>
                    <p class="mg-b-20">Top 10 <strong>submissions</strong> of {{ object.display_name }} subreddit</p>
                    <div id="submissions-content"> </div>
                </div>
            </div>
            <div class="tab-pane fade" id="word" role="tabpanel">
                <div class="sa-overlay-wrapper">
                    <div class="sa-overlay" id="overlay-word">
                        <div class="spinner-border"></div>
                    </div>
                    <div class="az-content-label mg-b-5">Word Count</div>
                    <p class="mg-b-20">Most used <strong>entities</strong> both in submissions and comments</p>
                    <div class="ht-300 ht-lg-350">
                        <canvas id="myChart" width="400" height="400"></canvas>
                    </div>
                </div>
                <div class="az-content-label mg-b-5">Word Cloud</div>
                <div class="sa-overlay-wrapper">
                    <div class="sa-overlay" id="overlay-cloud">
                        <div class="spinner-border"></div>
                    </div>
                    <p class="mg-b-20">Top 250 Most used <strong>entity</strong> both in submissions and comments</p>
                    <figure class="highcharts-figure">
                        <div id="container-entitycloud"></div>
                    </figure>
                    <p class="mg-b-20">Top 250 Most used <strong>words</strong> both in submissions and comments</p>
                    <figure class="highcharts-figure">
                        <div id="container-wordcloud"></div>
                    </figure>
                </div>
            </div>
            <div class="tab-pane fade" id="bubble" role="tabpanel">
                <div class="sa-overlay-wrapper">
                    <div class="sa-overlay" id="overlay-bubble">
                        <div class="spinner-border"></div>
                    </div>
                    <div class="az-content-label mg-b-5">Packed Bubble Chart</div>
                    <p class="mg-b-20">Most frequent 100 <strong>entity</strong> in the subreddit, radius by count,
                        color by polarity of the sentence that they are in. </p>
                    <div id="packed-bubbles"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="network" role="tabpanel">
                <div class="sa-overlay-wrapper">
                    <div class="sa-overlay" id="overlay-network">
                        <div class="spinner-border"></div>
                    </div>
                    <div class="az-content-label mg-b-5">Network Graph</div>
                    <p class="mg-b-20">Links between <strong>Entities</strong></p>
                    <div id="container-network-chart"></div>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock content-fluid %}
