{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
    <div class="row align-items-stretch">
        <div class="col-md-12 col-lg-6 mg-t-20 mg-lg-t-0">
        <div class="card card-dashboard-five">
            <div class="card-header">
                <h6 class="card-title">1. Search</h6>
                <span class="card-text">Search a word and get analysis about that immediately</span>
            </div>
            <div class="card-body row row-sm text-center">
                <form class="form fullwidth" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" id="searchText" name="searchText" placeholder="Search something">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6 mg-t-20 mg-lg-t-0">
        <div class="card card-dashboard-five">
            <div class="card-header">
                <h6 class="card-title">2. Subreddit</h6>
                <span class="card-text">Run sentiment analysis on a specific subreddit</span>
            </div>
            <div class="card-body row row-sm">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>&nbsp;Display Name</th>
                                <th>Submissions</th>
                                <th>Comments&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subreddit in top5submissions %} 
                                <tr>
                                    <td>&nbsp;<strong><a href="{% url 'analysis' pk=subreddit.id %}" target="_blank">{{ subreddit.display_name }}</a></strong></td>
                                    <td>{{ subreddit.submissions_count }}</td>
                                    <td>{{ subreddit.comments_count }}&nbsp;</td>
                                </tr>
                            {% endfor %} 
                        </tbody>
                    </table>
                </div><!-- table-responsive -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}
