/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.form.fullwidth {
    width: 100%;
}

/*
    yesil #6ebfc2
    kirmizi #d15641
    gri #5b666e
*/

.title {
    font-family: Montserrat, 'Droid Sans', sans-serif;
}

.tab-content {
    position: relative;
}

#overlay {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    margin: auto;
    text-align: center !important;
    padding: 200px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#cloud {
    width: 400px;
    height: 300px;
}

.img-small {
    max-width: 150px !important;
}

.sa-media-parent {
    max-width: 900px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.sa-media-children {
    max-width: 700px;
    font-size: 13px;
    padding: 1rem;
}
.sa-media-children .media {
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.icon-set {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 0.5rem;
}

.sa-media-content {
    text-align: justify;
}

/* POPUP */
.popup-body{
    overflow: scroll;
    max-height: 600px;
}
.body-blackout {
    position: absolute;
    z-index: 1010;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    display: none;
}
.body-blackout.is-blacked-out {
    display: block;
}

.popup-trigger {
    display: inline-block;
}

.popup-modal {
    height: auto;
    width: 90%;
    background-color: #fff;
    position: fixed;
    margin: 5% auto;
    top: 0;
    left: 0;
    right: 0;
    padding: 45px;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in-out;
    z-index: 1011;
}
.popup-modal.is--visible {
    opacity: 1;
    pointer-events: auto;
}
.popup-modal__close {
    position: absolute;
    font-size: 1.2rem;
    right: -10px;
    top: -10px;
    cursor: pointer;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

.sa-link,
a.nav-link{
    color:#031b4e;
    font-weight: 500;
}
.sa-link:hover,
a.nav-link:hover {
    color:#042467;
    font-weight: 500;
}

.sa-link {
    text-decoration: underline;
}
